body{
    display: grid;
    font-family: sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
    background-color: rgb(33, 33, 33);
    color: aliceblue;
}
.mainheading{
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 255, 94);
}
.container{
    background-color: rgb(24, 24, 24);
    padding: 5px 20px 15px 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"]
{
    width: 95%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 33, 33);
}
fieldset{
    width: 95%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: rgb(33, 33, 33);
}
.city
{
    width: 95%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: rgb(33, 33, 33);

}
button{
    align-items: center;
    background-color: rgb(53, 121, 98);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(61, 174, 136);
    border-radius: 10px;
    transition: 0.3s;
}
h3{
    color: rgb(33, 78, 63);
    text-decoration: underline;
}
.area{
    background-color: rgb(33, 33, 33);
    border: 1px solid #000000;
}
