body{
    background-image: url(code.png);
    background-color: #303030;
    background-repeat: no-repeat;
    background-size: cover;

}
.back-heading{
    font-family: 'League Spartan', sans-serif;
    font-size: 270px;
    z-index: -999;
    color: #808080;
    position: relative;
    text-align: center;
    margin-top: 170px;
    margin-bottom: 70px;
}
.dsa{
    font-size: 30px;
    text-align: center;
    z-index: -99999;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    color: #b4b4b4;
}
.code{
    text-align: center;
    z-index: 99;
    mask-position: top;
    position: relative;
    bottom: 255px;
    right: 240px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    color: #808080;

}